@import "tailwindcss";

/* Remove default body margins to avoid unintended scrollbars */
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.mantine-Modal-header{
	padding: 10px 16px !important;
}

.mantine-Modal-title{
	font-size: 20px !important;
	font-weight:700 !important;
}