.user {
  display: block;
  width: 100%;
  border-radius: 8px;
  color: #111827;
  transition: background-color 0.15s ease;

  @mixin hover {
    background-color: #f9fafb;
  }
}

.profileButton {
  padding: 8px 10px;
}

.profileInfo {
  flex: 1;
}

.collapsedMenuGroup {
  padding: 8px;
}

.collapsedMenuInfo {
  flex: 1;
}

.capitalizeText {
  text-transform: capitalize;
}
